.header__link{
  cursor: pointer;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin-left: 24px;
    outline: none;
    background: transparent;
    border: none;
    color: #A9A9A9;
}

.header__link:hover{
  opacity: 0.6;
}