.login__welcome{
  margin-bottom: 77px;
  width: 358px;
  margin: 0;
  height: 29px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
}