.popup-image__btn-back {
    cursor: pointer;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    border: none;
    outline: none;
    background-color: transparent;
    z-index: 2;
    right: -40px;
    top: -40px;
}

@media screen and (min-width: 320px) and (max-width: 786px) {
    .popup-image__btn-back {
        right: 40px;
        top: -40px;
    }
}