.header {
    border-bottom: 1px solid rgb(84, 84, 84, 0.7);
    padding-bottom: 41px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 787px) {
    .header {
        margin-top: 45px;
        max-width: 880px;
    }
}

@media screen and (min-width: 320px) and (max-width: 786px) {
    .header {
        padding-bottom: 31.6px;
        max-width: 320px;
        margin-top: 28px;
    }
}